<!-- partial:partials/header -->
<%- include('../layouts/header.ejs') %>

<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">

  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin::navbar-->
    <div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
      <!--begin::navbar main-->
      <%- include('../layouts/navbar.ejs') %>
      <!--end::navbar main-->
      <!--begin::Separator-->
      <div class="app-header-separator"></div>
      <!--end::Separator-->
    </div>
    <!--end::navbar-->

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin::Sidebar-->
      <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
        <!--begin::Main sidebar-->
        <%- include('../layouts/sidebar.ejs') %>
        <!--end::Main sidebar-->
      </div>
      <!--end::Sidebar-->

      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          <!--begin::Toolbar-->
          <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
              <!--begin::Toolbar wrapper-->
              <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                  <!--begin::Breadcrumb-->
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                      <a href="#" class="text-gray-500">
                        <i class="ki-solid ki-book-open fs-1 text-gray-400 me-n1"></i>
                      </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Recipe</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                      <a href="/recipe" class="text-gray-700">View All Recipe</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold">Edit Recipe</li>
                    <!--end::Item-->
                  </ul>
                  <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
              </div>
              <!--end::Toolbar wrapper-->
            </div>
            <!--end::Toolbar container-->
          </div>
          <!--end::Toolbar-->

          <!--begin::Content-->
          <div id="kt_app_content" class="app-content flex-column-fluid pt-0">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-fluid">

              <!--begin::Row-->
              <div class="row g-5 d-flex justify-content-center">
                <div class="card mb-5 mb-xl-10">
                  <!--begin::Card header-->
                  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                      <h3 class="fw-bold m-0 fs-1">Edit Recipe</h3>
                    </div>
                    <!--end::Card title-->
                  </div>
                  <!--begin::Card header-->
                  <!--begin::Content-->
                  <div id="kt_account_settings_profile_details" class="collapse show">

                    <!--begin::Form-->
                    <form class="form" method="post" enctype="multipart/form-data">
                      <!--begin::Card body-->
                      <div class="card-body border-top p-9">

                        <!-- flash message -->
                        <% if(flash.error.length> 0){ %>
                        <!--begin::Alert-->
                        <div class="alert alert-dismissible bg-light-danger d-flex align-items-center mb-10">
                          <!--begin::Content-->
                          <span class="fs-4 text-danger fw-bold text-center ps-5"><%= flash.error %></span>
                          <!--end::Content-->
                          <!--begin::Close-->
                          <button type="button" class="btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            <i class="ki-duotone ki-cross fs-1 text-danger fw-bold"><span class="path1"></span><span class="path2"></span></i>
                          </button>
                          <!--end::Close-->
                        </div>
                        <!--end::Alert-->
                        <% } %>
                        <!-- complete flash message -->

                        <!--begin::Input group-->
                        <input type="hidden" name="id" value="<%= recipe._id  %>">
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label required">Image</label>
                            <!--begin::Col-->
                            <div class="col-lg-8">
                              <input type="hidden" name="oldImage" value="<%= recipe.image %>">
                              <!--begin::Image input-->
                              <div class="image-input image-input-outline" data-kt-image-input="true">
                                <!--begin::Preview existing image-->
                                <img class="galleryimg image-input-wrapper w-150px h-150px" src="<%= IMAGE_URL + recipe.image %>" id="previewImage" alt="<%= recipe.image %>">
                                <!--end::Preview existing image-->
                                <!--begin::Label-->
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-30px h-30px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change image">
                                  <i class="ki-duotone ki-pencil fs-1 text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                  </i>
                                  <!--begin::Inputs-->
                                  <input type="file" name="image" id="imageInput" accept=".png, .jpg, .jpeg" />
                                  <!--end::Inputs-->
                                </label>
                                <!--end::Label-->
                              </div>
                              <!--end::Image input-->
                              <!--begin::Hint-->
                              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                              <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                          </div>

                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label required">Recipe Name</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="recipename" value="<%= recipe.name %>" required />
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label required">Category</label>
                            <select name="category" class="form-select form-select-solid" data-control="select2" required>
                              <option></option>
                              <% category.forEach((item) => { %>
                              <option value="<%= item._id %>" <% if(String(item._id) === String(recipe.categoryId)){%> selected <%} %>><%= item.name %></option>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row">
                          <div class="col-sm-12">
                            <label class="form-label required">Ingredients</label>
                            <div class="row mb-10">
                              <div class="rounded border py-10">
                                <div id="ingredients-container">
                                  <!-- Dynamic ingredients will be added here -->
                                  <% if (recipe.ingredients && recipe.ingredients.length > 0) { %>
                                    <% recipe.ingredients.forEach((item, index) => { %>
                                    <div class="ingredient-item form-group row px-5 mb-3">
                                      <div class="col-md-10 mb-8">
                                        <input type="text" name="ingredients" class="form-control form-control-lg form-control-solid ingredients-input" value="<%= item %>" placeholder="Enter an ingredient name, e.g., 1 teaspoon salt" required />
                                      </div>
                                      <div class="col-md-2 mb-8 d-flex align-items-center">
                                        <button type="button" class="btn btn-light-danger btn-sm remove-ingredient" onclick="removeIngredient(this)">
                                          <i class="ki-duotone ki-trash fs-3">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                          </i>
                                          Remove
                                        </button>
                                      </div>
                                    </div>
                                    <% }) %>
                                  <% } else { %>
                                    <!-- Default first ingredient -->
                                    <div class="ingredient-item form-group row px-5 mb-3">
                                      <div class="col-md-10 mb-8">
                                        <input type="text" name="ingredients" class="form-control form-control-lg form-control-solid ingredients-input" placeholder="Enter an ingredient name, e.g., 1 teaspoon salt" required />
                                      </div>
                                      <div class="col-md-2 mb-8 d-flex align-items-center">
                                        <button type="button" class="btn btn-light-danger btn-sm remove-ingredient" onclick="removeIngredient(this)">
                                          <i class="ki-duotone ki-trash fs-3">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                          </i>
                                          Remove
                                        </button>
                                      </div>
                                    </div>
                                  <% } %>
                                </div>
                                
                                <div class="px-5">
                                  <button type="button" class="btn btn-light-primary btn-sm" onclick="addIngredient()">
                                    <i class="ki-duotone ki-plus fs-3">
                                      <span class="path1"></span>
                                      <span class="path2"></span>
                                    </i>
                                    Add Ingredient
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label required"> Cuisines</label>
                            <select name="cuisines" class="form-select form-select-solid" data-control="select2" required>
                              <option></option>
                              <% cuisines.forEach((item) => { %>
                              <option value="<%= item._id %>" <% if(String(item._id) === String(recipe.cuisinesId)){%> selected <%} %>><%= item.name %></option>
                              <% }) %>
                            </select>
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label required">Prep Time</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="prepTime" value="<%= recipe.prepTime %>" required />
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label required">CookingTime</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="cookTime" value="<%= recipe.cookTime %>" required />
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label required">Total Cook Time</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="totalCookTime" value="<%= recipe.totalCookTime %>" required />
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label required">Recipe Servings</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="servings" value="<%= recipe.servings %>" required />
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label required"> Difficulty Level</label>
                            <select name="difficultyLevel" class="form-select form-select-solid" data-control="select2" required>
                              <option></option>
                              <option value="Easy" <% if (recipe.difficultyLevel === "Easy") { %>selected<% } %>>Easy</option>
                              <option value="Medium" <% if (recipe.difficultyLevel === "Medium") { %>selected<% } %>>Medium</option>
                              <option value="Hard" <% if (recipe.difficultyLevel === "Hard") { %>selected<% } %>>Hard</option>
                            </select>
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <% if (recipe && recipe.video) { %>
                        <div class="row mb-10">
                          <div class="col-sm-12">
                            <video width="400" height="300" controls>
                              <source src="/uploads/video/<%= recipe.video %>" type="video/mp4">
                            </video>
                          </div>
                        </div>
                        <% } %>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row mb-10">
                          <div class="col-sm-6">
                            <label class="form-label">Video</label>
                            <input type="hidden" name="oldVideo" value="<%= recipe.video %>">
                            <input type="file" name="video" id="imageInput" class="file-upload-default" accept="video/*">
                            <div class="input-group col-xs-12">
                              <input type="text" class="form-control form-control-lg form-control-solid  file-upload-info" <% if (recipe && recipe.video) { %> value="<%=  recipe.video.split("_")[1] %>" <% } else { %> placeholder="Choose Video" <% } %> readOnly>
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary buttonedit" type="button">Upload</button>
                              </span>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label">You Tube Link (option)</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" name="url" <% if (recipe && recipe.url) { %> value="<%= recipe.url %>" <% } else { %> placeholder="Enter YouTube Link" <% } %> />
                          </div>
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="row ">
                          <div class="col-sm-12">
                            <label class="form-label">Overview</label>
                            <textarea name="overview" id="kt_docs_first_ckeditor_classic" class="form-control form-control-lg" style="min-height: 200px;" required><%- recipe.overview %></textarea>
                          </div>
                        </div>
                        <!--end::Input group-->

                         <!--begin::Input group-->
                         <div class="fv-row mb-2">
                          <div class="col-sm-12">
                            <label class="form-label required">How To Cook </label>
                            <textarea class="form-control form-control-lg" id="kt_docs_second_ckeditor_classic" name="how_to_cook" placeholder="Describe the cooking process" style="min-height: 250px;" required><%- recipe.how_to_cook %></textarea>
                          </div>
                        </div>
                        <!--end::Input group-->

                      </div>
                      <!--end::Card body-->
                      <!--begin::Actions-->
                      <div class="card-footer d-flex justify-content-start py-6 px-9">
                        <button type="submit" class="btn btn-primary me-5">Edit</button>
                      </div>
                      <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                  </div>
                  <!--end::Content-->
                </div>
              </div>
              <!--end::Row-->
            </div>
            <!--end::Content container-->
          </div>
          <!--end::Content -->

          <!--begin::Footer-->
          <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
              <span class="text-muted fw-semibold me-1"></span>
              <a href="#" target="_blank" class="text-gray-800 text-hover-primary"></a>
            </div>
            <!--end::Copyright-->
          </div>
          <!--end::Footer-->
        </div>
        <!--end::Content wrapper-->


      </div>
      <!--end::Main-->

    </div>
    <!--end:Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::App-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <i class="ki-duotone ki-arrow-up">
    <span class="path1"></span>
    <span class="path2"></span>
  </i>
</div>
<!--end::Scrolltop-->


<!-- partial:partials/header -->
<%- include('../layouts/footer.ejs') %>

<script>
// Enhanced styling for textareas
const style = document.createElement('style');
style.textContent = `
    /* Textarea styling before CKEditor loads */
    #kt_docs_first_ckeditor_classic,
    #kt_docs_second_ckeditor_classic {
        border: 1px solid #d1d3e2;
        border-radius: 0.42rem;
        padding: 0.75rem;
        font-family: inherit;
        font-size: 1.1rem;
        line-height: 1.5;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #ffffff;
        resize: vertical;
    }
    
    #kt_docs_first_ckeditor_classic:focus,
    #kt_docs_second_ckeditor_classic:focus {
        border-color: #009EF7;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 158, 247, 0.25);
    }
    
    /* CKEditor container styling */
    .ck-editor__editable {
        min-height: 200px !important;
        border-radius: 0.42rem !important;
    }
    
    .ck-editor__editable_inline {
        border: 1px solid #d1d3e2 !important;
    }
    
    .ck-editor__editable:focus {
        border-color: #009EF7 !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 158, 247, 0.25) !important;
    }
    
    /* Loading indicator */
    .textarea-loading {
        position: relative;
    }
    
    .textarea-loading::before {
        content: 'Loading editor...';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #7E8299;
        font-size: 0.9rem;
        pointer-events: none;
        z-index: 1;
    }
`;
document.head.appendChild(style);

// Ingredients Management Functions
function addIngredient() {
    const container = document.getElementById('ingredients-container');
    const newItem = document.createElement('div');
    newItem.className = 'ingredient-item form-group row px-5 mb-3';
    newItem.style.opacity = '0';
    newItem.style.transform = 'translateY(-10px)';
    
    newItem.innerHTML = `
        <div class="col-md-10 mb-8">
            <input type="text" name="ingredients" class="form-control form-control-lg form-control-solid ingredients-input" placeholder="Enter an ingredient name, e.g., 1 teaspoon salt" required />
        </div>
        <div class="col-md-2 mb-8 d-flex align-items-center">
            <button type="button" class="btn btn-light-danger btn-sm remove-ingredient" onclick="removeIngredient(this)">
                <i class="ki-duotone ki-trash fs-3">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                </i>
                Remove
            </button>
        </div>
    `;
    
    container.appendChild(newItem);
    
    // Animate in
    setTimeout(() => {
        newItem.style.transition = 'all 0.3s ease';
        newItem.style.opacity = '1';
        newItem.style.transform = 'translateY(0)';
    }, 10);
    
    // Focus on new input
    setTimeout(() => {
        const newInput = newItem.querySelector('input');
        newInput.focus();
    }, 300);
}

function removeIngredient(button) {
    const container = document.getElementById('ingredients-container');
    const ingredientItems = container.querySelectorAll('.ingredient-item');
    
    // Don't allow removing if only one ingredient remains
    if (ingredientItems.length <= 1) {
        alert('At least one ingredient is required.');
        return;
    }
    
    const item = button.closest('.ingredient-item');
    
    // Animate out
    item.style.transition = 'all 0.3s ease';
    item.style.opacity = '0';
    item.style.transform = 'translateY(-10px)';
    
    setTimeout(() => {
        item.remove();
    }, 300);
}

// Form validation before submit
document.addEventListener('DOMContentLoaded', function() {
    // Add loading class to textareas
    const overviewTextarea = document.querySelector('#kt_docs_first_ckeditor_classic');
    const howToCookTextarea = document.querySelector('#kt_docs_second_ckeditor_classic');
    
    overviewTextarea.classList.add('textarea-loading');
    howToCookTextarea.classList.add('textarea-loading');
    
    // Initialize CKEditor for Overview
    ClassicEditor
        .create(overviewTextarea, {
            toolbar: {
                items: [
                    'heading', '|',
                    'bold', 'italic', 'link', '|',
                    'bulletedList', 'numberedList', '|',
                    'indent', 'outdent', '|',
                    'blockQuote', 'insertTable', '|',
                    'undo', 'redo'
                ]
            },
            language: 'en',
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            }
        })
        .then(editor => {
            window.overviewEditor = editor;
            overviewTextarea.classList.remove('textarea-loading');
            console.log('Overview CKEditor initialized');
        })
        .catch(error => {
            overviewTextarea.classList.remove('textarea-loading');
            console.error('Overview CKEditor initialization failed:', error);
            // Fallback: Make textarea look better
            overviewTextarea.style.minHeight = '300px'; // Increased from 200px
            overviewTextarea.style.border = '1px solid #d1d3e2';
        });

    // Initialize CKEditor for How to Cook
    ClassicEditor
        .create(howToCookTextarea, {
            toolbar: {
                items: [
                    'heading', '|',
                    'bold', 'italic', 'link', '|',
                    'bulletedList', 'numberedList', '|',
                    'indent', 'outdent', '|',
                    'blockQuote', 'insertTable', '|',
                    'undo', 'redo'
                ]
            },
            language: 'en',
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            }
        })
        .then(editor => {
            window.howToCookEditor = editor;
            howToCookTextarea.classList.remove('textarea-loading');
            console.log('How to Cook CKEditor initialized');
        })
        .catch(error => {
            howToCookTextarea.classList.remove('textarea-loading');
            console.error('How to Cook CKEditor initialization failed:', error);
            // Fallback: Make textarea look better
            howToCookTextarea.style.minHeight = '350px'; // Increased from 250px
            howToCookTextarea.style.border = '1px solid #d1d3e2';
        });

    // Form validation
    const form = document.querySelector('form');
    if (form) {
        form.addEventListener('submit', function(e) {
            const ingredientInputs = document.querySelectorAll('.ingredients-input');
            let hasValidIngredients = false;
            
            ingredientInputs.forEach(input => {
                if (input.value.trim() !== '') {
                    hasValidIngredients = true;
                }
            });
            
            if (!hasValidIngredients) {
                e.preventDefault();
                alert('Please add at least one ingredient.');
                return false;
            }
        });
    }
});
</script>